body {
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  width: 36px;
  height: 36px;
  content: fit;
  padding: 2px;
  margin: 2px;
  border: 1px double wheat;

}

.start {
  background-image: url("assets/bulbasaur.png");
}

.end {
  background: url("assets/finishtile.png");
}

.impassable {
  background: url("assets/rocktile.png");
}

.grass {
  background: url("assets/grasstile.png")
}

.path {
  background-color: black;
}
